<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Главная</a>
            </div>


            <form>
                {% if user.is_authenticated %}
                <span>
                  <button type="button" class="btn btn-default">
                    {{ user.username }}
                  </button>
                  <a role="button" class="btn btn-default" href="{% url 'logout' %}">Выйти</a>
                </span>
                {% else %}
                    <a role="button" class="btn btn-default" href="{% url 'authorization' %}">Войти</a>
                    <a role="button" class="btn btn-default" href="{% url 'authorization_form' %}">Войти - форма</a>
                    <a role="button" class="btn btn-default" href="{% url 'registration_form' %}">Зарегистрироваться - форма</a>
                    <a role="button" class="btn btn-default" href="{% url 'registration' %}">Зарегистрироваться</a>
                {% endif %}
            </form>

        </div>

    </nav>
            <div>
                {% block content %}

                {% endblock %}
            </div>
</body>
<!--<script>$('.dropdown-toggle').dropdown()</script>-->
</html>