{% extends 'base.html' %}

{% block title %}Товары{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="page-header">
                <h1>Товары</h1>
            </div>
            <ul class="list-group">
                {% for prodact in prodacts_list %}
                    <li>
                        <div>
                            <h4>{{ prodact.prodact_name }}</h4>
                            Описание: {{ prodact.description }}<br>
                            Цена: {{ prodact.price }}
                        </div>
                    </li>
                {% empty %}
                    <li>пустой список</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}